# ignoring build folder
/build/

#ignorin Mac OS dir
/.DS_Store/

#ignoring Visual Studio Code dirs and files
/.vscode/

#--------------------------------------------------
# ignoring c++ files and dirs 
#--------------------------------------------------
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#--------------------------------------------------
# ignoring cmake files and dirs 
#--------------------------------------------------

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps